html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {
    background: #eee;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
}

/* create pizza form */

.create-pizza {
    background: #f7f7f7;
    padding: 20px;

    label,
    select {
        display: block;
    }

    label {
        margin-top: 30px;
    }

    select {
        padding: 8px;
        width: 200px;
    }

    input[type="checkbox"] {
        margin: 10px;
    }

    input[type="submit"] {
        background: #5e2195;
        padding: 8px 20px;
        color: #fff;
        border: 0;
        margin-top: 20px;
    }
}

/* pizza details page */

.pizza-details {
    background: #f7f7f7;
    padding: 20px;

    p {
        margin: 20px 0;
        font-weight: bold;
    }
    button {
        background: #5e2195;
        padding: 8px 20px;
        color: #fff;
        border: 0;
        margin-top: 20px;
    }
}
a.back {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #5e2195;
    margin-bottom: 20px;
}

/* pizza index page */

.pizza-index {
    h1 {
        margin-bottom: 40px;
    }
    .pizza-item {
        margin: 10px 0;
        padding: 12px;
        background: #f4f4f4;
        img {
            width: 60px;
            display: inline-block;
        }
        h4 {
            display: inline-block;
            font-weight: normal;
            margin-left: 20px;
            a {
                color: #777;
                text-decoration: none !important;
            }
        }
    }
}

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #eee;
    padding: 20px;
    text-align: center;
}

.title {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    padding: 12px 0;
    color: #5e2195;
}

/* Buttons Section in DenkaStrap! */
.button-std {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(161, 161, 161);
    color: rgb(202, 202, 202);
    padding: 8px 8px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-link {
    background-color: rgb(27, 90, 185);
    color: rgb(219, 219, 219);
}

.btn-ok {
    background-color: rgb(43, 134, 73);
}

.btn-del {
    background-color: rgb(207, 81, 81);
    color: ghostwhite;
}

.btn-cancel {
    background-color: rgb(121, 121, 161);
}

.button-std:hover {
    color: rgb(255, 255, 255);
}

.button-std:active {
    box-shadow: none;
    top: 2px;
}

/* Inputs */
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid gray;
}

input[type="text"]:focus {
    background-color: rgb(235, 255, 255);
}

/* Combo boxes */
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(206, 231, 255);
    font: 1em Roboto;
}
